.components {
  padding-top:50px;
}

.content{
  padding-top:40px;
  text-align:center;

}

.pageHeader{
  font-family: 'Audiowide';
  font-size:75px;
  text-align:center;
}

.subHeader{
  color: red;
  font-family: 'Mogra';
}

p{
 font-family:'Armata';
 font-size:25px;
 padding:0;
 margin:0;
}

h2{
  padding:0;
  margin:0;
}
#ab1 {
  background-color:#ffffe6
}

#ab2{
  background-color:#ccffff;
}

#ab3{
  background-color:#ffbf80;
}

